.back{
	background-color: RGB(29, 17, 18);
}
.banner {
	background-image: url(../images/header.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 500px;
	width: 100%;
	padding-top: 250px;
	padding-left: 300px;
	text-align: center;

}

.banner header{
	text-align: center;
	padding: 15px;
	border: 3px solid white;
	display: inline-block;
	color: floralwhite;

}

#about-me {
	margin: 60px;
	padding: 50px;
	display: flex;
	align-content: space-around;
	border: solid 4px rgb(253, 239, 86);
	border-radius: 20px;
	background-color: RGB(254,205,109);
	text-align: left;
	justify-content: center;

}

#about-me img {
	display: block;
	float:left;
	width: 400px;
	height: auto;
	border: 3px solid black;
	border-radius:50%;
	margin-right: 30px;
}


#skills {
	margin: 60px;
	padding: 50px;
	border: solid 4px rgb(253,239,86);
	border-radius: 20px;
	background-color: RGB(254,205,109);
}
#portfolio {
	margin: 60px;
	padding: 50px;
	border: solid 4px rgb(253, 239, 86);
	border-radius: 20px;
	background-color: RGB(254,205,109);
}

.websites{
	justify-content: center;
	padding: 3px;
	margin: 10px;
}

.skills{
	margin: 20px;
	padding: 20px;
	display: grid;
	border: solid black 3px;
	border-radius: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	background-color: floralwhite;
}
.skills p{
	margin: 20px;
	padding: 15px;
	border-radius: 10px;
	border:solid black 3px;
	text-align: center;
	background-color: rgb(39,44,49);
	color: floralwhite;

}


table{
	width:100%;
	color:black;
	border-spacing: 4px;
	text-align: center;
	font-family: sans-serif;
}

td{

	margin:20px;
	padding: 30px;

}


#contact{
	text-align: center;
	margin: 60px;
	padding: 50px;
	border: solid 4px rgb(253,239,86);
	border-radius: 20px;
	background-color: RGB(254,205,109);
}

#my-contact-form{
	text-align: left;
}

.button{
	text-align: center;
	margin: 10px;
	padding: 10px;
}

.btn-success{
	border: 1px solid black;
}

.connect {
	background-color: rgb(39,44,49);
	border:4px solid black;
	padding:30px 0px;
	position: relative;
	width: 100%;
	text-align: center;

}

.connect a{
	background: gold;
	color: floralwhite;
	display: inline-block;
	border: 5px solid gold;
	border-radius: 6px;
	padding: 10px
}

.connect a:hover {
	background:white;
	border: 5px solid gold;
	border-radius: 6px;
	color: gold;
}
