body{
	font-family: 'Raleway', sans-serif;
	background-color: white;
}

header {
	background-image: url(images/header-crop.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 450px;
	width: 100%;
	padding-top: 20%;
	text-align: center;
	color: floralwhite;

}
.about-me {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.about-me img {
	width: 300px;
	height: auto;
	border: 3px solid black;

}

.skills {
	border-top:8px solid black;
}

.portfolio{
	border-top:
		8px solid black;
	border-bottom: 8px solid black;
}

.contact {
	border:3px solid black;
	margin: 20px;
	text-align: center;
}
